.our-vision-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    padding: 2.3rem;
    width: 85vw;
    background-color: var(--wh);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 4rem;
    
    
}

.vision-paragraph {
    margin: 0 2rem 4rem 2rem;
    line-height: 2.2rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    opacity: 0.8;
}

.visionImg {
    width: 100%;
    height: 40%;
}

@media screen and (min-width: 600px) {
    .our-vision-layout {
        width: 40vw;
    }
    .visionImg {
        width: 50%;
        height: 20%;
    }
}