.card {
    background-color: var(--wh);
    width: 75vw;
    height: 45vh;
    display: block;
    padding:1.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: var(--mainCl);

    img {
        height: 80%;
        width: 100%;
        object-fit: cover;
    }

    figcaption {
        text-align: center;
        margin-top: 1.2rem;
    }

    .name {
        font-size: 2rem;
    }

    .price {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 600px) {
    .card {
        width: 15vw;
    }
    .glider {
        width: 40vw;
    }
}