.glider-productinfo-mobile {
    width: 100vw;
    margin: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}





@media screen and (min-width: 600px) {
    .glider-productinfo-mobile {
        width: 30vw;
    }
}