.header {
    height: 6.5rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--mainBgCl);
    z-index: 100;

    i {
        font-size: 3.5rem;
    }

    a {
        color: var(--mainCl);
        text-decoration: none;
    }

    .nav-list {
        display: flex;
        margin: 0;
        padding: 0;
        
        li {
            margin: 0 5px;
        }
    }

    .my-cart-wrap {
        position: relative;
        height: 100%;
        
    }

    .item-count {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        background-color: var(--secCl);
        color: var(--wh);
        bottom: 0;
        right: 5%;
        font-size: 1.1rem;
    }

}

.menu-nav {
    display: none;
}

// bigger than mobile

@media screen and (min-width: 600px) {
    .header {
        height: 5.5rem;
        display: block;
        position: relative;
    }
    .logo {
        position: absolute;
        left: 4vw;
        top: 50%;
        transform: translateY(-50%);
    }
    .menu-opener {
        display: none;
    }
    .menu-nav {
        display: inline;
        position: absolute;
        left: 23vw;
        top: 50%;
        transform: translateY(-50%);

        ul {
            display: flex;

            li {
                font-size: 1.5rem;
                margin-right: 5rem;
            }
        }
        
    }
    .navigate {
        position: absolute;
        right: 5vw;
        top: 50%;
        transform: translateY(-50%);
    }
}