.glider-mobile, .glider-web {
    width: 100vw;
    margin: auto;
}
.glider-web {
    display: none;
}



@media screen and (min-width: 600px) {
    .glider-mobile {
        display: none;
    }
    .glider-web {
        display: inline;
    }
}



