.recover-password-button {
    width: 100%;
    background-color: var(--secCl);
    color: var(--wh);
    margin: 2rem 0;
}

.recover-password-text {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    opacity: 0.7;
}