.popluar-section-layout {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-section-line {
    margin: 5rem auto;
    width: 100vw;
}

@media screen and (min-width: 600px) {
    .headline {
        margin-top: 5rem;
    }
}